@model CapstoneGVC.Contracts.DataTransferObjects.ErrorDto;

@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">Petición Inválida</h2>

<h3>@Model.MensajeError</h3>
<p>
    Dirigete a la página de inicio.
</p>
<br />

<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Página de inicio</a>